
<nav class="navbar navbar-expand-md navbar-light  mt-1 ms-1 me-1" style="background-color: rgb(135, 206, 235);">
    <a class="navbar-brand ms-3" href="#">StyleSpot</a>
    <form class="d-flex w-50 ms-2">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      
    <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngSwitch]="userType" class="collapse navbar-collapse" id="navbarNav">
      <ul *ngSwitchCase="'default'" class="navbar-nav  pe-5">
        <li class="nav-item ms-3">
            <a class="nav-link" routerLink = "/seller-auth">Seller</a>
          </li>
        <li class="nav-item active ms-3">
          <a class="nav-link" href="#">Home </a>
        </li>
        <li class="nav-item ms-3">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item ms-3">
          <a class="nav-link disabled" href="#">Cart</a>
        </li>
      </ul>
      <!-- Seller Navbar -->
      <ul *ngSwitchCase="'seller'" class="navbar-nav  pe-5">
        <li class="nav-item ms-3">
          <a class="nav-link" routerLink="/seller-add-product">Add Product</a>
        </li>
        <li class="nav-item active ms-3">
          <a class="nav-link" href="#">List </a>
        </li>
        <!-- <li class="nav-item ms-3">
                <a class="nav-link" href="#">Logout</a>
              </li> -->
        <li class="nav-item ms-3">
          <!-- <a class="nav-link " href="#"><mat-icon>
                 
                    account_circle 
                  </mat-icon></a> -->
      
          <mat-icon class="maticon" [matMenuTriggerFor]="menu">account_circle</mat-icon>
      
          <mat-menu #menu="matMenu">
            <button mat-menu-item disabled>
              <mat-icon>person</mat-icon>
              <span>{{user_name | titlecase}}</span>
            </button>
            <button mat-menu-item>
              <mat-icon>logout</mat-icon>
              <span (click)="logout()">Logout</span>
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </nav>
  