
<div class="seller-auth">
    <div class="sign-up">
        <h3 class="seller-head text-uppercase">Seller Sign Up</h3>
        <form class="signupform">
            <label class="form-label"> User Name</label>
            <input type="text" class="form-control" placeholder="User Name">

            <label class="form-label"> Password</label>
            <input type="text" class="form-control" placeholder="Password">

            <label class="form-label"> Confirm Password</label>
            <input type="text" class="form-control" placeholder="Confirm Password">

            <button type="button" class="btn btn-info  form-control form-button">Sign Up</button>
        </form>

    </div>

</div>