/* You can add global styles to this file, and also import other style files */
/* @import "~ngx-toastr/toastr.css"; */
@import 'ngx-toastr/toastr';
.toast-top-center {
    top: 12px;
    right: 0;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* body {
    background-color:rgb(135, 206, 235) !important;
} */
.invalid-error{
  color: red;
}
.is-invalid {
  border: 1px solid red;
}