<div class="add-product">
    <h3 style="text-align: center;">Update Product</h3>
    <form [formGroup]="Updateproductform" (ngSubmit)="submit()"  style="overflow-y: auto;height: 70vh;">
      <div class="mb-2">
        <label class="form-label">Product Name</label>
        <input type="text" class="form-control" placeholder="Enter Product Name" formControlName="product_name">
      </div>
      <div class="mb-2" >
        <label class="form-label">Product Price</label>
        <input type="text" class="form-control" placeholder="Enter Product Price" formControlName="product_price">
      </div>
      <div class="mb-2">
        <label class="form-label">Category</label>
        <input type="text" class="form-control" placeholder="Enter Category" formControlName="product_category">
      </div>
      <div class="mb-2" >
        <label class="form-label">Product color</label>
        <input type="text" class="form-control" placeholder="Enter Product color" formControlName="product_color">
      </div>
      <div class="mb-2" >
        <label class="form-label">Description</label>
        <!-- <input type="text" class="form-control"> -->
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Product Description"
        formControlName="product_description"></textarea>
      </div>
      <div class="mt-2 mb-2">
      
        <input type="file" (change)="Onfilechange($event)" style="display: none" id="aadhar_upload_file">
        <div id="file" class="aadhar_uploader" (click)="aadharCardTrigger()">
          <span *ngIf="!product_path" class="product_image_upload form-control">Upload Product Image (.jpg/.jpeg/.png) File
            should be less
            than 2mb</span>
          <span *ngIf="product_path" class="product_image_upload form-control">{{product_path}}
          </span>
        </div>
        <div *ngIf="product_path" class="view-cancel">
          <mat-icon class="cancel-button" (click)="clearimage()">cancel</mat-icon>
          <mat-icon data-bs-toggle="modal" class="view-button" data-bs-target="#Productfile_open">visibility</mat-icon>
        </div>
      </div>
     
      <div >
          <button type="submit" class="form-control btn btn-primary" style="margin-top: 8px;">Update Product</button>
      </div>
    </form>
  </div>




  <!-- to view the product   -->


       

  <div class="modal fade" id="Productfile_open" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="border-bottom: none;">
          <h4 class="modal-title fs-5" id="exampleModalLabel" style="margin: 0 auto; text-align: center">{{product_path}}</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img
            src="{{ product_path_url }}"
            id="productUpload_file"
            style="width: 100%; height: 264px"
          /> 
        </div>
      </div>
    </div>
  </div>
  