:host {
    display: block;
    padding-top: 5px;
    height: 100vh;
    /* height: calc(100vh - 106px); */
    display: grid;
    place-items: center;
    /* margin: 0; */
    margin-top: -35px;
  }
  
  .add-product {
    max-width: 615px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    margin-bottom: 15px;
    border-radius: 12px;
  }
  
  .form-control {
    width: 100%;
    /* padding: 10px;
    margin: 10px 0; */
  }
  .product_image_upload{
    text-align: center;
    padding:26px;
    border: 2px dashed #03A9F4;
    /* float: left;
    position: sticky; */
    height: 77px;
    font-size: 17px;
    color: green;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
  
}
.cancel-button{
  margin-left: 10px;
}
.view-button{
  margin-left: 5px;
}
  